@tailwind base;
@tailwind components;
@import './component/rodin.css';
@import './screen/rodin-card.css';
@import './screen/rodin-assets-card.css';
@tailwind utilities;
@import './utilities/animation.css';
@import './utilities/typography.css';
@import './utilities/houdini.css';
@import './utilities/transition.css';
@import './theme.css';

html {
    overflow-y: overlay;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family:
        'Helvetica Neue',
        Helvetica,
        Arial,
        Roboto,
        'Segoe UI',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        ui-sans-serif,
        -apple-system,
        system-ui,
        BlinkMacSystemFont,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--themeTextColor);
    box-sizing: border-box;
    transition:
        background 0.2s linear,
        color 0.2s linear;
    background: var(--bg);
    background-size: 100% 100%;
    /* transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), background 1s cubic-bezier(0.23, 1, 0.32, 1);  */
    opacity: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body > a {
    display: none;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#root * {
    box-sizing: border-box;
}

html,
html * {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    -webkit-tap-highlight-color: transparent;
    /* mobile click highlight background */
}

/* Chrome Safari */
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border: 5px solid;
    border-color: #c5c5c5;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    display: none;
}

/* Chrome, Safari, Edge */
@media (hover: none), (pointer: coarse) {
    #root * {
        -webkit-overflow-scrolling: touch;
    }
}

.sentry-error-embed-wrapper {
    z-index: 100000 !important;
}

.powered-by {
    opacity: 0;
}
