/* 默认暗色主题 */
:root {
    --logoFilter: brightness(100%);
    --themeTextColor: #cfcfcf;
    --bg: #121317;
    --headTextColor: #cfcfcf;
    --headTextHoverColor: #fff;
    --headAvatarColor: #cfcfcf;
    --headBoderColor: rgba(255, 255, 255, 0.1);
    --historySwitchColor: #fff;
    --popupInputBg: #262626;
    --redeemBtnColor: #666;
    --redeemBtnHoverColor: #ccc;
    --navColor: #9c9c9c;
    --balanceBg: #262626;
    --balanceColor: #cfcfcf;
    --menuBg: #373737;
    --menuSelectBg: #fff;
    --menuSelectColor: #fff;
    --menuSelectBoderColor: #fff;
    --loadingBoxBg: #2c2c2c;
    --tabListBorder: rgb(86, 86, 86, 0.3);
    --tabListActiveBorder: #fff;
    --cardSkeletonBg: linear-gradient(
        90deg,
        #2f2f2f 25%,
        #232323 50%,
        #3d3d3d 75%
    );
    --galleryPrivateTipBg: #181818;
    --galleryPrivateColor: #fff;
    --moreHoverBg: #00000050;
    --moreColor: #cfcfcf;
    --footerImgBrightness: brightness(100);
    --noResultBg: rgba(0, 0, 0, 0.5);
    --noResultText: #cfcfcf;
    --topUpBg: #2c2c2c;
    --userTitleBg: #404040;
    --pageNumberBg: rgba(72, 0, 220, 1);
    --formboldFormWrapper: #2c2c2c;
    --formboldFormSubtitle: #ccb4ff;
    --formboldFormTitle: #fff;
    --formboldFormLabel: #929292;
    --formboldFormInput: #ececec;
    --formboldFormInput: #ececec;
    --formboldFormInputBoder: #565656;
    --formboldBtn: #4a00e0;
    --formboldMainWrapperBoxShadow: rgba(255, 255, 255, 0.3);
    --storageWrapperBg: #2c2c2c;
    --storageTitleColor: #fff;
    --itemTitleColor: #f2f2f2;
    --itemMsgColor: #c2c2c2;
    --videoItemHoverBg: #484848;
    --storageFooterBg: rgba(255, 255, 255, 0.15);
    --filterDropDownBg: #232323;
    --filterDropDownBgHover: #262626;
    --dropDownBoder: #c3c3c3;
    --dropDownBoxShadow: rgba(255, 255, 255, 0.1);
    --dropDownBoderHover: #c2c2c2;
    --dropDownSelectColor: #fff;
    --optionsBg: #2c2c2c;
    --optionsBoxShadow: 0px 2px 8px rgba(196, 196, 196, 0.25);
    --optionColor: #959595;
    --optionHoverColor: #fff;
    --optionHoverBg: #5c5c5c;
    --optionActiveColor: #fff;
    --btnTopBg: #4a00e0;
    --btnTopBoder: transparent;
    --btnTopzindex: 1;
    --btnTopimg: url('@/assets/whitemsg.png');
    --btndownBg: #121317;
    --btndownBoder: #606060;
    --btndownzindex: 0;
    --btnDownimg: url('@/assets/picunselect.png');
    --noSubBorderColor: rgba(255, 255, 255, 0.2);
    --pluginWrapperBg: rgba(56, 56, 56, 0.5);
    --pluginWrapperBgBoder: rgba(255, 255, 255, 0.1);
    --pluginWrapperNameColor: #fff;
    --hoverListWrapper: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.01) -31.69%,
        rgba(255, 255, 255, 0.1) 100%
    );
    --hoverListFooterWrapper: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.02) -31.69%,
        rgba(255, 255, 255, 0.2) 100%
    );
    /* mobile */
    --hometitleSpecialcolor: #fff;
    --homehedingImg: brightness(1);
    --hometitletextalign: left;
    --hometitlejustify: start;
    --galleryBg: #191a1f;
    --menuTabcolor: #b6b6b6;
    --menuTabActivecolor: #fff;
    --galleryWrapperboxshadow: 0px -1.5px 0.2px #555;
    --emptyContainerBg: rgba(255, 255, 255, 0.05);
    --emptyListcolor: rgba(255, 255, 255, 0.8);
    --filterItemActiveBg: #252525;
    --filterItemColor: #444;
    --filterItemActiveColor: #b5b5b5;
}

/* 亮色主题 */
html[data-theme='light'] {
    --logoFilter: brightness(0%);
    --themeTextColor: #353535;
    --headTextColor: #353535;
    --headTextHoverColor: #1c1c1c;
    --headAvatarColor: #353535;
    --headBoderColor: #efefef;
    --historySwitchColor: #353535;
    --popupInputBg: #eee;
    --redeemBtnColor: #ccc;
    --redeemBtnHoverColor: #000;
    --navColor: rgba(9, 8, 48, 0.3);
    --balanceBg: #fff;
    --balanceColor: #353535;
    --menuBg: rgba(156, 184, 255, 0.3);
    --menuColor: #646464;
    --menuSelectColor: #043ac6;
    --menuSelectBoderColor: #9cb8ff;
    --loadingBoxBg: #ffffff;
    --cardSkeletonBg: linear-gradient(90deg, #cfedfe 0%, #d6d7ff 100%);
    --galleryPrivateTipBg: #fbfcff;
    --galleryPrivateColor: #404040;
    --moreHoverBg: rgba(64, 64, 64, 0.08);
    --moreColor: #3f3f3f;
    --footerImgBrightness: brightness(0);
    --noResultBg: rgba(219, 218, 218, 0.5);
    --noResultText: #646464;
    --topUpBg: #ffffff;
    --userTitleBg: #d7d7d77a;
    --pageNumberBg: rgba(72, 0, 220, 0.4);
    --formboldFormWrapper: #fff;
    --formboldFormSubtitle: #628eff;
    --formboldFormTitle: #090830;
    --formboldFormLabel: #536387;
    --formboldFormInput: rgba(9, 8, 48, 0.8);
    --formboldFormInputBoder: #dde3ec;
    --formboldBtn: #628eff;
    --formboldMainWrapperBoxShadow: rgba(0, 0, 0, 0.1);
    --storageWrapperBg: #fff;
    --storageTitleColor: #090830;
    --itemTitleColor: #0f0f0f;
    --itemMsgColor: #606060;
    --videoItemHoverBg: #eee;
    --storageFooterBg: rgba(228, 228, 228, 0.5);
    --filterDropDownBg: #fff;
    --filterDropDownBgHover: rgba(144, 144, 144, 0.08);
    --dropDownBoder: #c3c3c3;
    --dropDownBoxShadow: rgba(50, 50, 50, 0.1);
    --dropDownBoderHover: #c2c2c2;
    --dropDownSelectColor: #2d2d2d;
    --optionsBg: #ffffff;
    --optionsBoxShadow: rgba(215, 215, 215, 0.25);
    --optionColor: #808080;
    --optionHoverColor: #2d2d2d;
    --optionHoverBg: #eeeeee;
    --optionActiveColor: #2d2d2d;
    --btnTopBg: #fff;
    --btnTopBoder: #b996ff;
    --btnTopzindex: 0;
    --btnTopimg: url('@/assets/puperlmsg.png');
    --btndownBg: #628eff;
    --btndownBoder: transparent;
    --btndownzindex: 1;
    --btnDownimg: url('@/assets/picselect.png');
    --noSubBorderColor: rgba(0, 0, 0, 0.2);
    --pluginWrapperBg: rgba(255, 255, 255, 0.5);
    --pluginWrapperBgfilter: brightness(0);
    --pluginWrapperBgBoder: rgba(56, 56, 56, 0.1);
    --pluginWrapperNameColor: #000;
    --hoverListWrapper: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.01) -31.69%,
        rgba(0, 0, 0, 0.1) 100%
    );
    --hoverListFooterWrapper: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.01) -31.69%,
        rgba(0, 0, 0, 0.1) 100%
    );

    /* mobile */
    --hometitleSpecialcolor: #000;
    --homehedingImg: brightness(0);
    --hometitletextalign: right;
    --hometitlejustify: end;
    --galleryBg: #fff;
    --menuTabcolor: #777;
    --menuTabActivecolor: #000;
    --galleryWrapperboxshadow: 0px -1.5px 0.2px #ddd;
    --emptyContainerBg: rgba(0, 0, 0, 0.05);
    --emptyListcolor: rgba(0, 0, 0, 0.8);
    --filterItemActiveBg: #efefef;
    --filterItemColor: #999;
    --filterItemActiveColor: #2d2d2d;
}

/* panorama主题 */
html[data-theme='panorama'] {
    --logoFilter: brightness(100%);
    --themeTextColor: #e6e6e6;
    --bg: #121317;
    --headTextColor: #fff;
    --headTextHoverColor: #fff;
    --headAvatarColor: #e6e6e6;
    --headBoderColor: rgba(255, 255, 255, 0.1);
    --navColor: #e6e6e6;
    --balanceBg: #e9cdd6;
    --balanceColor: #353535;
    --menuBg: #373737;
    --menuSelectBg: #fff;
    --menuSelectColor: #fff;
    --menuSelectBoderColor: #fff;
    --loadingBoxBg: #2c2c2c;
    --cardSkeletonBg: linear-gradient(
        90deg,
        #2f2f2f 25%,
        #232323 50%,
        #3d3d3d 75%
    );
    --galleryPrivateTipBg: #181818;
    --galleryPrivateColor: #fff;
    --moreHoverBg: #00000050;
    --moreColor: #e6e6e6;
    --footerImgBrightness: brightness(100);
    --noResultBg: rgba(0, 0, 0, 0.5);
    --noResultText: #cfcfcf;
    --topUpBg: #2c2c2c;
    --userTitleBg: #404040;
}

#root {
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    --theme-color: #4a00e0;
    --bg-theme-color: #f5f0ff;
    --font-dark-color: rgb(67, 67, 67);
    --font-gray-color: #aaa;
    --font-gray2-color: #989898;
    --font-light-color: #cfcfcf;
    --bg-light-color: #fff;
    --bg-gray0-color: #f8f8f8;
    --bg-gray1-color: #ececec;
    --bg-gray2-color: #7c7c7c;
    --bg-gray3-color: #373737;
    --bg-gray4-color: #262626;
    --bg-theme-color: #e7e3f1;
    --bg-dark-color: #121317;
    --side-gap: 5rem;
    --radius: 0.5rem;
    display: 'flex';
    flex-direction: 'column';
    min-height: '100vh';
}
