.rodin-card-modal-base {
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image:
        linear-gradient(to right, rgb(240, 240, 240), rgb(240, 240, 240)),
        linear-gradient(
            90deg,
            #fff 0%,
            rgba(255, 255, 255, 0) 26.44%,
            rgba(255, 255, 255, 0) 68.75%,
            #fff 100%
        );
}

.rodin-modal-inset-border {
    /* 伪元素实现inset border */
}

.rodin-modal-inset-border::after {
    --border-width: 2px;
    --border-color: rgba(255, 255, 255, 0.5);
    border: var(--border-width) solid var(--border-color);
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border-radius: inherit;
    z-index: 1;
}

.rodin-reversion-img-list {
    &::before {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.07);
    }
}

.rodin-card-tools-btn-linearBorder {
    position: relative;

    &::before {
        --border-width: 2px;

        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        display: block;
        border-radius: inherit;
        padding: var(--border-width);
        background: linear-gradient(
            90deg,
            #fff 0%,
            rgba(255, 255, 255, 0) 26.44%,
            rgba(255, 255, 255, 0) 68.75%,
            #fff 100%
        );
        background-clip: padding-box;
        -webkit-mask-image:
            linear-gradient(red, red), linear-gradient(red, red);
        -webkit-mask-clip: padding-box, content-box;
        mask-composite: exclude;
        z-index: -10;
    }
}

.rodin-wallet-linearBorder {
    z-index: 999;
    pointer-events: none;
}

.rodin-wallet-linearBorder::before {
    --border-width: 2px;

    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border-radius: inherit;
    padding: var(--border-width);

    background: var(--border-color);
    background-clip: padding-box;

    -webkit-mask-image: linear-gradient(red, red), linear-gradient(red, red);
    -webkit-mask-clip: padding-box, content-box;
    mask-composite: exclude;

    z-index: -10;
}

.rodin-private-linearBorder::before {
    --border-width: 1px;

    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border-radius: inherit;
    padding: var(--border-width);
    background: var(--border-color);
    background-clip: padding-box;
    -webkit-mask-image: linear-gradient(red, red), linear-gradient(red, red);
    -webkit-mask-clip: padding-box, content-box;
    mask-composite: exclude;
    transition: background 0.3s ease;
    pointer-events: none;

    z-index: 999;
}

.rodin-button-interaction-primary {
    /* hover scale 105  active scale 95*/
    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

.rodin-swiper-linear-mask {
    /* 双侧虚化效果 - 用于中间位置 */
    mask: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
    -webkit-mask: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
}

.rodin-swiper-linear-mask-left {
    /* 仅左侧虚化效果 - 用于在右侧边界时 */
    mask: linear-gradient(to right, transparent 0%, black 10%, black 100%);
    -webkit-mask: linear-gradient(
        to right,
        transparent 0%,
        black 1%,
        black 100%
    );
}

.rodin-swiper-linear-mask-right {
    /* 仅右侧虚化效果 - 用于在左侧边界时 */
    mask: linear-gradient(to right, black 0%, black 90%, transparent 100%);
    -webkit-mask: linear-gradient(
        to right,
        black 0%,
        black 90%,
        transparent 100%
    );
}

.rodin-swiper-no-mask {
    /* 无虚化效果 - 用于内容不足时 */
    mask: none;
    -webkit-mask: none;
}

.rodin-primary-bg-linear-important {
    background: linear-gradient(
        93.98deg,
        #797ec9 0.76%,
        #c69ddb 99.24%
    ) !important;
}

.rodin-primary-bg-linear {
    background: linear-gradient(93.98deg, #797ec9 0.76%, #c69ddb 99.24%);
}

.rodin-shadow-primary {
    box-shadow: 0px 0px 30px 0px #00000012;
}

.rodin-shadow-secondary {
    box-shadow: 0px 0px 45px 0px #00000026;
}

.rodin-shadow-tertiary {
    box-shadow: 0px 0px 56px 0px #00000025;
}

.rodin-shadow-fourth {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
}

.rodin-shadow-fifth {
    box-shadow: 0px 0px 14px 0px rgba(56, 7, 100, 0.29);
}

.rodin-gradient-border:before {
    position: absolute;
    box-sizing: border-box;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: block;
    border-radius: inherit;
    padding: var(--border-width);
    background: var(--border-color);
    background-clip: padding-box;
    -webkit-mask-image: linear-gradient(red, red), linear-gradient(red, red);
    -webkit-mask-clip: padding-box, content-box;
    mask-composite: exclude;
    z-index: -1;
    transition:
        background 0.3s ease,
        opacity 0.3s ease;
}

.rodin-gradient-text {
    background: var(--text-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rodin-gen-default-menu-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(40, 228, 240, 0.1) 43.87%,
        rgba(40, 228, 240, 0.1) 103.06%
    );
}

.rodin-gen-focal-menu-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(127, 161, 255, 0.1) 43.87%,
        rgba(127, 161, 255, 0.1) 103.06%
    );
}

.rodin-gen-zero-menu-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(140, 201, 212, 0.1) 43.87%,
        rgba(140, 201, 212, 0.1) 103.06%
    );
}

.rodin-gen-speedy-menu-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(255, 136, 111, 0.1) 43.87%,
        rgba(255, 136, 111, 0.1) 103.06%
    );
}

.rodin-gen2-default-menu-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(210, 182, 223, 0.15) 43.87%,
        rgba(236, 193, 108, 0.15) 103.06%
    );
}

.rodin-gen-default-private-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(40, 228, 240, 0.15) 43.87%,
        rgba(40, 228, 240, 0.15) 103.06%
    );
}

.rodin-gen-focal-private-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(127, 161, 255, 0.2) 43.87%,
        rgba(127, 161, 255, 0.2) 103.06%
    );
}

.rodin-gen-zero-private-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(140, 201, 212, 0.15) 43.87%,
        rgba(140, 201, 212, 0.15) 103.06%
    );
}

.rodin-gen-speedy-private-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(255, 136, 111, 0.15) 43.87%,
        rgba(255, 136, 111, 0.15) 103.06%
    );
}

.rodin-gen2-default-private-bg {
    background-image: linear-gradient(
        138.59deg,
        rgba(210, 182, 223, 0.2) 43.87%,
        rgba(236, 193, 108, 0.2) 103.06%
    );
}

.rodin-mode-default-color {
    color: rgba(40, 228, 240, 1);
}

.rodin-mode-focal-color {
    color: rgba(88, 119, 205, 1);
}

.rodin-mode-zero-color {
    color: rgba(140, 201, 212, 1);
}

.rodin-mode-speedy-color {
    color: rgba(255, 136, 111, 1);
}

.rodin-mode-default-bg {
    background: rgba(40, 228, 240, 0.15);
}

.rodin-mode-focal-bg {
    background: rgba(88, 119, 205, 0.15);
}

.rodin-mode-zero-bg {
    background: rgba(140, 201, 212, 0.15);
}

.rodin-mode-speedy-bg {
    background: rgba(255, 136, 111, 0.15);
}

.rodin-feedback-wrapper {
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)
        );
    border: 2px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.18);
}

.rodin-feedback-hover-line {
    &::after {
        content: '';
        left: 0;
        bottom: -2px;
        position: absolute;
        width: 0;
        height: 1px;
        background-color: white;
        transition: width 0.3s ease;
    }

    &:hover::after {
        width: 100%;
    }
}

.rodin-feedback-input-baseStyle {
    @apply w-full rounded-[25.5px] border-2 border-transparent bg-[rgba(255,255,255,0.07)] p-[10px_14px] text-sm text-[rgba(255,255,255,0.6)] outline-none hover:bg-[rgba(255,255,255,0.1)] hover:text-white focus:border-[rgba(255,255,255,0.8)] focus:bg-[rgba(255,255,255,0.04)] focus:text-white;
}

.rodin-feedback-selector-blur {
    position: relative;
    z-index: 0;
    &::before {
        content: '';
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(50px);
        z-index: -1;
        border: inherit;
    }
}

.rodin-toolTip-wrapper {
    background: rgba(247, 248, 248, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.rodin-strength-addTouchArea {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 200%;
        border-radius: inherit;
        z-index: -1;
    }
}
