.rodin-title-animation {
    animation:
        stroke 8s linear 1 forwards,
        fill 2s linear 2s 1 forwards;
}

@keyframes stroke {
    0% {
        stroke-dasharray: 2257;
        stroke-dashoffset: 2257;
    }

    100% {
        stroke-dasharray: 2257;
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    0% {
        fill: transparent;
    }

    100% {
        fill: white;
    }
}

@property --rotateDeg {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.text-btn-animation {
    background: linear-gradient(
        var(--rotateDeg),
        #8f29dd 1.94%,
        #1e73b6 98.01%
    );
    animation: spine 6s linear infinite;
}

@keyframes spine {
    0% {
        --rotateDeg: 0deg;
    }

    100% {
        --rotateDeg: 360deg;
    }
}

.star-animation-1 {
    animation: scaleRB 2s ease infinite;
}

.star-animation-2 {
    animation: scaleLT 2s ease infinite;
}

.star-animation-3 {
    animation: scaleLR 2s ease infinite;
}

@keyframes scaleLR {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: translate(10%, 20%) scale(2);
    }

    100% {
        transform: scale(0.5);
    }
}

@keyframes scaleLT {
    0% {
        transform: scale(1);
    }

    50% {
        transform: translate(10%, 20%) scale(0.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleRB {
    0% {
        transform: scale(1);
    }

    50% {
        transform: translate(10%, 20%) scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.small-fadein {
    animation: smallfadein 0.3s ease 1 forwards;
}

@keyframes smallfadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.loading-text-animation {
    animation: loadingDots 1.4s infinite both;
}

.animation-delay-1 {
    animation-delay: -0.32s;
}

.animation-delay-2 {
    animation-delay: -0.16s;
}

@keyframes loadingDots {
    0%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.animation-sdf-fadeout {
    animation: sdfFadeOut 0.2s linear 1 forwards;
}

@keyframes sdfFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
}

.animation-sdf-fadeout-blur {
    animation: sdfFadeOutBlur 0.2s linear 1 forwards;
}

@keyframes sdfFadeOutBlur {
    from {
    }

    to {
        filter: blur(2px);
    }
}

.animation-sdf-fadein {
    animation: sdfFadeIn 0.2s linear 1 forwards;
}

@keyframes sdfFadeIn {
    from {
        filter: blur(2px);
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.animation-face-check {
    animation: faceCheck 0.3s cubic-bezier(0.23, 1, 0.32, 1) 1 forwards;
}

@keyframes faceCheck {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.animation-nav-fade {
    animation: navFade 0.4s linear 1 forwards;
}

@keyframes navFade {
    0% {
        opacity: 1;
    }

    50% {
        filter: blur(2px);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-tips-bounce {
    animation: tipsBounce 0.1s ease 1 forwards;
}

@keyframes tipsBounce {
    0% {
        transform: translate(calc(-50% - 5px), calc(-100% - 25px));
    }

    50% {
        transform: translate(calc(-50% + 10px), calc(-100% - 10px));
    }

    100% {
        transform: translate(-50%, calc(-100% - 20px));
    }
}

.animate-mode-icon {
    animation: modeicon 0.3s linear 1 forwards;
}

@keyframes modeicon {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-remode-icon {
    animation: modereicon 0.3s linear 1 forwards;
}

@keyframes modereicon {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-option-icon {
    animation: modereicon 0.2s linear 1 forwards;
}

@keyframes modereicon {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.animate-weight-selectorout {
    animation: weightSelectorout 1.5s ease 1 forwards;
}

@keyframes weightSelectorout {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    25%,
    30% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(110%);
    }

    70%,
    75% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.animate-weight-selectorin {
    animation: weightSelectorin 1.5s ease 1 forwards;
}

@keyframes weightSelectorin {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    25%,
    30% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(50%);
    }

    70%,
    75% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.animate-geo-raw {
    animation: georaw 2.5s linear infinite;
}

@keyframes georaw {
    0% {
        left: -60%;
        width: 60%;
    }

    22%,
    100% {
        left: 130%;
        width: 20%;
    }
}

.animate-api-examplein {
    animation: apiin 0.5s ease 1 forwards;
}

@keyframes apiin {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-api-exampleout {
    animation: apiout 0.5s ease 1 forwards;
}

@keyframes apiout {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-10px);
    }
}

.animate-rodintip-in {
    animation: rodintip 1s ease 1 forwards;
}

@keyframes rodintip {
    0%,
    25% {
        opacity: 0;
        transform: translateY(10px) translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

.animate-tip-in {
    animation: tipin 0.9s ease 1 forwards;
}

@keyframes tipin {
    0%,
    25% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-tip-out {
    animation: tipout 0.7s ease 1 forwards;
}

@keyframes tipout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.animate-remix-in {
    animation: remixin 0.5s ease 1 forwards;
}

@keyframes remixin {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-remix-out {
    animation: remixout 0.5s ease 1 forwards;
}

@keyframes remixout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.animate-sub-unlimitednum {
    animation: subunlimitednum 0.5s cubic-bezier(0.25, 0.1, 0.26, 0.98) forwards;
}

@keyframes subunlimitednum {
    0% {
        transform: scale(1);
        text-shadow: 0px 2px 6px rgba(255, 255, 255, 0.6);
    }

    50% {
        transform: scale(120%);
        text-shadow: 0px 2px 8px rgba(255, 255, 255, 1);
    }

    100% {
        transform: scale(1);
        text-shadow: 0px 2px 6px rgba(255, 255, 255, 0.6);
    }
}

.animate-arrow-right {
    animation: arrow-left 3s ease infinite;
}

@keyframes arrow-left {
    0%,
    100% {
        transform: translate(-5px, -50%);
    }
    50% {
        transform: translate(0px, -50%);
    }
}

.animate-arrow-left {
    animation: arrow-right 3s ease infinite;
}

@keyframes arrow-right {
    0%,
    100% {
        transform: translate(-5px, -50%);
    }
    50% {
        transform: translate(-10px, -50%);
    }
}

.animate-sub-unlimited {
    animation: subunlimited 1.6s linear infinite;
}

@keyframes subunlimited {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

.shake-animation {
    animation: shake 0.62s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.at-animation {
    animation: atpose 0.5s linear forwards;
}

@keyframes atpose {
    0% {
        top: -20px;
        transform: translateX(-150%);
    }

    100% {
        top: 10px;
        transform: translateX(300%);
        opacity: 0;
        visibility: hidden;
    }
}

.remix-animation {
    animation: remix 3s linear infinite;
}

@keyframes remix {
    0% {
        transform: translate(-50%, -50%) scale(112%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(112%) rotate(360deg);
    }
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.shimmer {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        #ffffff00 0%,
        #ffffff10 20%,
        #ffffff30 40%,
        #ffffff40 60%,
        #ffffff30 80%,
        #ffffff00 100%
    );
    opacity: 0.5;
    background-size: 100% 100%;
    animation: shimmer 1.5s infinite;
    /* will-change: transform; */
    transform: translateX(0%);
}

@keyframes shimmer-spring {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.shimmer-spring {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        #ffffff00 0%,
        #ffffff10 20%,
        #ffffff30 40%,
        #ffffff40 60%,
        #ffffff30 80%,
        #ffffff00 100%
    );
    opacity: 0.5;
    background-size: 100% 100%;
    animation: shimmer-spring 1.5s infinite;
    /* will-change: transform; */
    transform: translateX(0%);
}

@keyframes progress-shimmer {
    0% {
        left: calc(var(--shrink-width) * -1);
    }
    100% {
        left: 100%;
    }
}

@keyframes progress-fadeout {
    0%,
    20% {
        opacity: 0.79;
    }
    100% {
        opacity: 0;
    }
}

.animate-progress-shimmer {
    animation:
        progress-shimmer 2s ease infinite,
        progress-fadeout 2s ease infinite;
}

.animate-nav-content-change {
    animation: navcontentchange 2.8s ease forwards;
    animation-iteration-count: 2;
}

@keyframes navcontentchange {
    0% {
        transform: translateY(-85px);
    }

    17% {
        transform: translateY(-75px);
    }

    34%,
    100% {
        transform: translateY(-85px);
    }
}

.animate-nav-change {
    animation: navchange 2.8s ease forwards;
    animation-iteration-count: 2;
}

@keyframes navchange {
    0% {
        opacity: 0.9;
        transform: scaleX(1);
    }

    17% {
        opacity: 0.4;
        transform: scaleX(1.3);
    }

    34%,
    100% {
        opacity: 0.9;
        transform: scaleX(1);
    }
}
