@property --btnColor1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #4a00e0;
}

@property --btnColor2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #4a00e0;
}

.rodin-card-downloadbtn {
    cursor: pointer;
    --btnColor1: #4a00e0;
    --btnColor2: #4a00e0;
    border-radius: 60px;
    background: linear-gradient(
        103.48deg,
        var(--btnColor1) 6.45%,
        var(--btnColor2) 107.33%
    );
    transition:
        --btnColor1 0.15s ease,
        --btnColor2 0.15s ease;
}

.rodin-card-downloadbtn:hover {
    --btnColor1: #7835ff;
    --btnColor2: #7835ff;
}

.rodin-card-downloadbtn.rodin-card-downloadbtn-credits:hover {
    --btnColor1: #7835ff;
    --btnColor2: #be34ff;
}

@property --trypro-color1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #be7ee1;
}

@property --trypro-color2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #6a70c8;
}

.rodin-trypro-btn {
    --trypro-color1: #be7ee1;
    --trypro-color2: #6a70c8;
    background: linear-gradient(
        93.98deg,
        var(--trypro-color1) 0.76%,
        var(--trypro-color2) 99.24%
    );
    transition:
        --trypro-color1 0.3s ease,
        --trypro-color2 0.3s ease;
}

.rodin-trypro-btn:hover {
    --trypro-color1: #a956d7;
    --trypro-color2: #444cb7;
}

@property --bangtoparts-color1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #ecc48d;
}

@property --bangtoparts-color2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #e7b555;
}

.rodin-bangtoparts-btn {
    --bangtoparts-color1: #ecc48d;
    --bangtoparts-color2: #e7b555;
    background: linear-gradient(
        92.68deg,
        var(--bangtoparts-color1) 6.97%,
        var(--bangtoparts-color2) 93.03%
    );
    transition:
        --bangtoparts-color1 0.15s ease,
        --bangtoparts-color2 0.15s ease,
        opacity 0.15s ease,
        transform 0.15s ease,
        width 0.15s ease;
}

.rodin-bangtoparts-btn:hover {
    --bangtoparts-color1: rgba(227, 180, 114, 1);
    --bangtoparts-color2: rgba(224, 170, 67, 1);
}

/* RegisteredUserPromotion */
@property --registered-btnColor1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #875de7;
}

@property --registered-btnColor2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #a08bd5;
}

.rodin-registered-btn {
    cursor: pointer;
    background: linear-gradient(
        116.99deg,
        var(--registered-btnColor1) 17.95%,
        var(--registered-btnColor2) 78.53%
    );
    transition:
        transform 0.2s ease-in-out,
        --registered-btnColor1 0.2s ease-in-out,
        --registered-btnColor2 0.2s ease-in-out;
}

.rodin-registered-btn.left {
    --registered-btnColor1: #875de7;
    --registered-btnColor2: #a08bd5;
}

.rodin-registered-btn.right {
    --registered-btnColor1: rgba(250, 191, 101, 0.8);
    --registered-btnColor2: rgba(202, 153, 158, 0.8);
}

/* Background Gradient Transition */
@property --bg-color1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #875de7;
}

@property --bg-color2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #a08bd5;
}

.rodin-registered-bg {
    --bg-color1: #875de7;
    --bg-color2: #a08bd5;
    background: linear-gradient(
        116.99deg,
        var(--bg-color1) 17.95%,
        var(--bg-color2) 78.53%
    );
    transition:
        --bg-color1 0.3s ease,
        --bg-color2 0.3s ease;
}

.rodin-registered-bg.creator {
    --bg-color1: #875de7;
    --bg-color2: #a08bd5;
}

.rodin-registered-bg.business {
    --bg-color1: rgba(250, 191, 101, 0.8);
    --bg-color2: rgba(202, 153, 158, 0.8);
}

@property --start-percentage {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --end-percentage {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%;
}

.rodin-homepage-generateProgress {
    --border-width: 3px;
    --lightColor: rgba(242, 213, 255, 0.5);
    --darkColor: rgba(242, 213, 255, 0);
    --start-percentage: var(--start-percentage-fake);
    --end-percentage: var(--end-percentage-fake);
    --border-color: conic-gradient(
        from -90deg,
        var(--lightColor) var(--start-percentage) var(--start-percentage-fake-2),
        var(--darkColor) var(--end-percentage)
    );
    box-sizing: border-box;
    padding: var(--border-width);
    background: var(--border-color);
    transition:
        --start-percentage 0.3s ease,
        --end-percentage 0.3s ease;
    background-clip: padding-box;
    mask-image: linear-gradient(red, red), linear-gradient(red, red);
    mask-clip: padding-box, content-box;
    mask-composite: exclude;
    -webkit-mask-image: linear-gradient(red, red), linear-gradient(red, red);
    -webkit-mask-clip: padding-box, content-box;
    -webkit-mask-composite: exclude;
}

@property --bang-confirm-btnColor1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #875de7;
}

@property --bang-confirm-btnColor2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #a08bd5;
}

.rodin-bang-confirmbtn {
    cursor: pointer;
    --bang-confirm-btnColor1: #875de7;
    --bang-confirm-btnColor2: #a08bd5;
    border-radius: 60px;
    background: linear-gradient(
        103.48deg,
        var(--bang-confirm-btnColor1) 6.45%,
        var(--bang-confirm-btnColor2) 107.33%
    );
    transition:
        --bang-confirm-btnColor1 0.15s ease,
        --bang-confirm-btnColor2 0.15s ease;
}

.rodin-bang-confirmbtn:hover {
    --bang-confirm-btnColor1: #7835ff;
    --bang-confirm-btnColor2: #7835ff;
}
