.transform-300-ease {
    transition: transform 0.3s ease;
}

.transform-300-ease-in-out {
    transition: transform 0.3s ease-in-out;
}

.transform-300-cubic {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-200-ease {
    transition: background-color 0.2s ease;
}

.bg-300-ease {
    transition: background-color 0.3s ease;
}

.bg-300-ease-in-out {
    transition: background-color 0.3s ease-in-out;
}

.color-200-ease {
    transition: color 0.2s ease;
}

.color-300-ease {
    transition: color 0.3s ease;
}

.color-300-ease-in-out {
    transition: color 0.3s ease-in-out;
}

.border-300-ease {
    transition: border-color 0.3s ease;
}

.border-300-ease-in-out {
    transition: border-color 0.3s ease-in-out;
}

.shadow-300-ease {
    transition: box-shadow 0.3s ease;
}

.shadow-300-ease-in-out {
    transition: box-shadow 0.3s ease-in-out;
}

.opacity-150-ease {
    transition: opacity 0.15s ease;
}

.opacity-300-ease {
    transition: opacity 0.3s ease;
}

.opacity-200-ease {
    transition: opacity 0.2s ease;
}

.opacity-transform-200-ease {
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.opacity-300-linear {
    transition: opacity 0.3s linear;
}

.opacity-300-ease-in-out {
    transition: opacity 0.3s ease-in-out;
}

.width-300-ease {
    transition: width 0.3s ease;
}

.width-ml-300-ease {
    transition:
        width 0.3s ease,
        margin-left 0.3s ease;
}

.height-300-ease {
    transition: height 0.3s ease;
}

.width-height-300-ease {
    transition:
        width 0.3s ease,
        height 0.3s ease,
        background-color 0.3s ease;
}

.transform-250-ease {
    transition: transform 0.25s ease;
}

.transform-bg-250-ease {
    transition:
        transform 0.25s ease,
        background-color 0.25s ease;
}

.width-height-250-ease {
    transition:
        width 0.25s ease,
        height 0.25s ease,
        background-color 0.25s ease;
}

.size-300-ease {
    transition:
        width 0.3s ease,
        height 0.3s ease;
}

.size-150-ease {
    transition:
        width 0.15s ease,
        height 0.15s ease;
}

.opacity-border-300-ease {
    transition:
        opacity 0.3s ease,
        border-color 0.3s ease;
}

.opacity-transform-150-ease {
    transition:
        opacity 0.15s ease,
        transform 0.15s ease;
}

.opacity-transform-200-ease {
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.opacity-transform-300-ease {
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.bg-color-300-ease {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.bg-opacity-border-300-ease {
    transition:
        background-color 0.3s ease,
        opacity 0.3s ease,
        border-color 0.3s ease;
}

.bg-opacity-300-ease {
    transition:
        background-color 0.3s ease,
        opacity 0.3s ease;
}

.bg-opacity-width-300-ease {
    transition:
        background-color 0.3s ease,
        opacity 0.3s ease,
        width 0.3s ease;
}

.bg-width-300-ease {
    transition:
        background-color 0.3s ease,
        width 0.3s ease;
}

.bg-opacity-width-150-ease {
    transition:
        background-color 0.15s ease,
        opacity 0.15s ease,
        width 0.15s ease;
}

.bg-color-outline-300-ease {
    transition:
        background-color 0.3s ease,
        outline-color 0.3s ease,
        color 0.3s ease;
}

.bg-border-150-ease {
    transition:
        background-color 0.15s ease,
        border-color 0.15s ease;
}

.bg-border-300-ease {
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.bg-border-ml-300-ease {
    transition:
        background-color 0.3s ease,
        outline-color 0.3s ease,
        margin-left 0.3s ease;
}

.bg-border-width-150-ease {
    transition:
        background-color 0.15s ease,
        border-color 0.15s ease,
        width 0.15s ease;
}

.bg-border-width-300-ease {
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        width 0.3s ease;
}

.bg-color-opacity-300-ease {
    transition:
        background-color 0.3s ease,
        opacity 0.3s ease,
        color 0.3s ease;
}

.bg-transform-300-ease {
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
}

.bg-transform-150-ease {
    transition:
        background-color 0.15s ease,
        transform 0.15s ease;
}

.bg-transform-width-300-ease {
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        width 0.3s ease;
}

.bg-color-border-300-ease {
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;
}

.bg-color-transform-300-ease {
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.bg-color-transform-150-ease {
    transition:
        background-color 0.15s ease,
        color 0.15s ease,
        transform 0.15s ease;
}

.color-height-300-ease {
    transition:
        color 0.3s ease,
        height 0.3s ease;
}

.color-transform-300-ease {
    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.left-300-ease {
    transition: left 0.3s ease;
}

.opacity-width-300-ease {
    transition:
        opacity 0.3s ease,
        width 0.3s ease;
}

.opacity-height-300-ease {
    transition:
        opacity 0.3s ease,
        height 0.3s ease;
}

.opacity-right-300-ease {
    transition:
        opacity 0.3s ease,
        right 0.3s ease;
}

.opacity-right-transform-300-ease {
    transition:
        opacity 0.3s ease,
        right 0.3s ease,
        transform 0.3s ease;
}

.transform-shadow-300-ease {
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.transform-left-shadow-50-ease {
    transition:
        transform 0.05s ease,
        left 0.05s ease,
        box-shadow 0.05s ease;
}

.transform-color-150-ease {
    transition:
        transform 0.15s ease,
        color 0.15s ease;
}

.transform-color-300-ease {
    transition:
        transform 0.3s ease,
        color 0.3s ease;
}

.transform-color-width-150-ease {
    transition:
        transform 0.15s ease,
        color 0.15s ease,
        width 0.15s ease;
}

.transform-color-width-300-ease {
    transition:
        transform 0.3s ease,
        color 0.3s ease,
        width 0.3s ease;
}

.opacity-transform-width-150-ease {
    transition:
        opacity 0.15s ease,
        transform 0.15s ease,
        width 0.15s ease;
}

.opacity-transform-width-300-ease {
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        width 0.3s ease;
}

.opacity-transform-height-300-ease {
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        height 0.3s ease;
}

.opacity-transform-height-bottom-300-ease {
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        bottom 0.3s ease,
        height 0.3s ease;
}

.opacity-transform-height-top-300-ease {
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        top 0.3s ease,
        height 0.3s ease;
}

.opacity-padding-300-ease {
    transition:
        opacity 0.3s ease,
        padding 0.3s ease;
}

.opacity-scale-150-ease {
    transition:
        opacity 0.15s ease,
        transform 0.15s ease,
        scale 0.15s ease;
}

.feedbackButton-transition {
    transition:
        opacity 0.3s ease,
        padding 0.3s ease,
        width 0.3s ease;
    /* width 0.3s ease,
        height 0.3s ease; */
}

.height-mt-300-ease {
    transition:
        height 0.3s ease,
        margin-top 0.3s ease;
}

.outline-300-ease {
    transition: outline 0.3s ease;
}

.top-left-150-ease {
    transition:
        top 0.15s ease,
        left 0.15s ease;
}
