.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition-300-ease {
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.transition-300-ease-in-out {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rounded-inherit {
    border-radius: inherit;
}

.text-screen-sm {
    @apply text-xs leading-xs sm:text-sm sm:leading-sm md:text-md md:leading-md;
}

.text-screen-md {
    @apply text-sm leading-sm sm:text-md sm:leading-md md:text-lg md:leading-lg;
}

.text-subscription-price-sm {
    @apply text-[12px] sm:text-[14px] md:text-[16px];
}

.text-subscription-price-large {
    @apply text-[20px] sm:text-[22px] md:text-[24px];
}

.text-subscription-price {
    @apply text-[24px] xs:text-[28px] sm:text-[32px] md:text-[36px] lg:text-[40px] xl:text-[44px];
}

.grid-bg {
    background-image:
        url('@/components/newRodin/assets/gridBg.png'),
        linear-gradient(180deg, #121317, #12131700);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@property --generateColor1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #633cff;
}

@property --generateColor2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #863cff;
}

.generate-btn-default {
    --generateColor1: #633cff;
    --generateColor2: #863cff;
    background: linear-gradient(
        180deg,
        var(--generateColor1),
        var(--generateColor2)
    );
    transition:
        --generateColor1 0.3s ease,
        --generateColor2 0.3s ease;
}

.generate-btn-hover {
    --generateColor1: #5429ff;
    --generateColor2: #7521ff;
}

.generate-btn-diabled {
    background:
        linear-gradient(180deg, var(--generateColor1), var(--generateColor2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.move-personal-important {
    background: var(--move-personal-color) !important;
}

.move-group-important {
    background: var(--move-group-color) !important;
}

.move-left-important {
    right: 372px !important;
}

.move-right-important {
    right: 312px !important;
}

.move-personal {
    background: var(--move-personal-color);
}

.move-group {
    background: var(--move-group-color);
}

.move-left {
    right: 372px;
}

.move-right {
    right: 312px;
}

.bgwrapper-personal {
    background: var(--personal-bg) !important;
}

.bgwrapper-group {
    background: var(--group-bg) !important;
}

.fade-enter {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-exit-active {
    opacity: 0;
}

.absolute-full {
    @apply absolute bottom-0 left-0 right-0 top-0 h-full w-full;
}

.animation-reversion1 {
    animation: reversion1 6s linear infinite;
}

@keyframes reversion1 {
    0%,
    100% {
        transform: translate(-8%, 6%) scale(1);
    }
    17% {
        transform: translate(-50%, 27%) scale(1);
    }
    34% {
        transform: translate(-36%, 63%) scale(0.9);
    }
    51% {
        transform: translate(17%, 48%) scale(0.9);
    }
    68% {
        transform: translate(31%, 54%) scale(0.9);
    }
    85% {
        transform: translate(31%, 54%) scale(0.9);
    }
}

.animation-reversion2 {
    animation: reversion2 6s linear infinite;
}

@keyframes reversion2 {
    0%,
    100% {
        transform: translate(-69%, 54%) scale(1);
    }
    17% {
        transform: translate(6%, 61%) scale(1);
    }
    34% {
        transform: translate(-31%, 45%) scale(1);
    }
    51% {
        transform: translate(-25%, 59%) scale(1);
    }
    68% {
        transform: translate(36%, 67%) scale(1);
    }
    85% {
        transform: translate(11%, 52%) scale(1);
    }
}

.animation-reversion3 {
    animation: reversion3 6s linear infinite;
}

@keyframes reversion3 {
    0%,
    100% {
        transform: translate(-42%, 68%) scale(1);
    }
    17% {
        transform: translate(53%, 48%) scale(1);
    }
    34% {
        transform: translate(36%, 14%) scale(1);
    }
    51% {
        transform: translate(8%, -5%) scale(1);
    }
    68% {
        transform: translate(-106%, 20%) scale(1);
    }
    85% {
        transform: translate(11%, 57%) scale(1);
    }
}

.animation-reversion4 {
    animation: reversion4 6s linear infinite;
}

@keyframes reversion4 {
    0%,
    100% {
        transform: translate(47%, 46%) scale(1);
    }
    17% {
        transform: translate(33%, -2%) scale(1);
    }
    34% {
        transform: translate(25%, 11%) scale(1);
    }
    51% {
        transform: translate(25%, 11%) scale(1);
    }
    68% {
        transform: translate(28%, 6%) scale(1);
    }
    85% {
        transform: translate(22%, 2%) scale(1);
    }
}

.animation-reversion5 {
    animation: reversion5 6s linear infinite;
}

@keyframes reversion5 {
    0%,
    100% {
        transform: translate(-42%, 24%) scale(1);
    }
    17% {
        transform: translate(-42%, 25%) scale(1);
    }
    34% {
        transform: translate(28%, 27%) scale(1);
    }
    51% {
        transform: translate(28%, 27%) scale(1);
    }
    68% {
        transform: translate(-17%, 28%) scale(1);
    }
    85% {
        transform: translate(-19%, 25%) scale(1);
    }
}

.reversion-preview-animation {
    animation: reversionpreview 0.3s ease forwards;
}

@keyframes reversionpreview {
    0% {
        scale: 0.6;
        opacity: 0;
        visibility: hidden;
    }

    100% {
        scale: 1;
        opacity: 1;
        visibility: visible;
    }
}
